<!DOCTYPE html>
 <html>
  <head>
   <title>Indecrypt 2 - App / Encrypt</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="/static/x.css" />
   <script src="/static/jquery-ui-1.12.1.custom/external/jquery/jquery.js" defer></scipt>
   <script src="/static/jquery-ui-1.12.1.custom/jquery-ui.js" defer></script>
   <script src="/static/x.js" defer></script>
  </head>
  <body>
   <x-title>ENCRYPT</x-title>
   <x-info>Select file :</x-info>
   <x-input-file></x-input-file>
  </body>
 </html>
<!-- FIN -->