<!DOCTYPE html>
 <html>
  <head>
   <title>Indecrypt 2 - Login</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="/static/x.css" />
   <script src="/static/jquery-ui-1.12.1.custom/external/jquery/jquery.js" defer></scipt>
   <script src="/static/jquery-ui-1.12.1.custom/jquery-ui.js" defer></script>
   <script src="/static/x.js" defer></script>
  </head>
  <body>
   <x-info>Select an action :</x-info>
   <x-menu>
    <x-menu-element href="/app/encrypt">Encrypt</x-menu-element>
    <x-menu-element>Decrypt</x-menu-element>
    <x-menu-element>Admin mode</x-menu-element>
    <x-menu-element href="/logout">Exit</x-menu-element>
   </x-menu>
  </body>
 </html>
<!-- FIN -->